 <%= form_with(model: @article, local: true) do |form| %>
  <div class="field">
    <%=form.label :title %>
     <%=form.text_field :title %>
  </div>

  <div class="field">
    <%=form.label :list_elements %>
     <div class="row">
    <% @lists.each do |list| %>
      <label class="col-6 col-sm-3">
      <%=form.check_box :list_elements, {multiple: true}, list.id, nil %>
      <%= list.title %>
      </label>  
   
    <%end%>
  </div>

  <div class="field">
    <%=form.label :content %>
     <%=form.rich_text_area :content %>
  </div>


  <div>
    <%=form.submit %>
  </div>
 <%end%>