<div class="large-container center-block">
  <h1> <%= @article.title%></h1>
  <div>
    <p> Escrito por: <strong><%= @article.user.email%></strong></p>
    <% if current_user.avatar.attached?%>
      <%= image_tag url_for(current_user.avatar), height:30 %>
    <% end%>
  </div>
  <div>
    <%= @article.content%>
  </div>

<div class="margin-top">
  <p class="label">tags</p>
    <% @article.lists.each do |list|%>
    <span class="badge badge-pill padding" style="background-color:<%=list.color%>"></span>
    <%= link_to list.title, list%>
    <%end%>
  </div>



    <div>
      <%=link_to "elimina el articulo", @article, method: :delete, class: " btn btn-small btn-danger" %>
      <%= link_to  "editar articulos", edit_article_path(params[:id]), class: "btn btn-small btn-success" %>
    </div>
</div>